#formTransformer{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    color: black;
}

#button_right{
    margin-left: 30%;
    margin-top: 5%;
}

#image{
    background-image: url(../../assets/img/abstract-architecture-building-exterior-geometric-593158.jpg) !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}

section{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}


.th-transparent{
    border: 1px solid transparent;
}