<section id="editor">

        <form id="formTransformer" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="form-group">
                    <label for="inputSubject">Subject</label>
                    <select id="inputSubject" class="form-control" formControlName="inputSubject">
                        <ng-container *ngFor="let head of headers">
                            <option>{{head}}</option>
                        </ng-container>
                    </select>
                    <label for="inputUri">URI</label>
                    <input type="text" class="form-control" id="inputUri" formControlName="inputUri" placeholder="http://yourUri.com/">
                    <label for="inputFormat">RDF File format</label>
                    <select id="inputFormat" class="form-control" formControlName="inputFormat">
                        <option selected>RDF/XML</option>
                        <option>RDF/JSON</option>
                        <option>N-Triples</option>
                    </select>
                    <br><br>
                    <div id="button_right">
                        <button type="submit" id="generateButton" class="btn btn-light">GENERATE RDF</button>
                    </div>
                </div>  
            </div>
            <div *ngIf="isFormInvalid === true">
                <p id="error_message">
                    *Please fill all the camps.
                </p>
            </div>
            <table class="table table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                        <ng-container *ngFor="let head of headers; let i = index;">
                            <th class="th-transparent">
                                <input type="text" class="form-control" [ngbTypeahead]="search" 
                                    placeholder="Type" [(ngModel)]="inputTypes[i]" [ngModelOptions] = "{standalone: true}">
                            </th>
                        </ng-container>
                    </tr>
                    
                    <tr>
                    <ng-container *ngFor="let head of headers">
                            <th>{{ head }}</th>
                    </ng-container>
                    </tr>
                            
                </thead>
                <tbody>
                    <ng-container *ngFor="let line of lines">
                        <tr>
                            <ng-container *ngFor="let value of line">
                                <ng-container *ngIf="isNumeric(value)">
                                    <td align="right">{{ value }}</td>
                                </ng-container>
                                <ng-container *ngIf="!isNumeric(value)">
                                    <td>{{ value }}</td>
                                </ng-container>
                            </ng-container>
                        </tr>
                    </ng-container>
                </tbody>
            </table>

            
        </form>
    

</section>