<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h2>About RDF TRansformer</h2>
            <p>RDF transformer is a tool that allows you to transform your raw csv file to a standard RDF file in the format of your choice.<br><br></p>
            <p>This project is open-source and it's source files can be found on the contact section below.<br><br></p>
            <p>This project has been developed by a Computer Science student of the University of Lleida as his final degree project.<br><br></p>
        </div>
    </div>
</div>