<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h2>About RDF TRansformer</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pharetra velit metus, pulvinar pretium nisi tincidunt nec. Morbi tincidunt ultrices dolor, at semper arcu aliquam sit amet<br><br></p>
            <p>Nulla nec massa interdum, ornare orci vel, dictum risus. Fusce a sagittis eros, sit amet euismod dolor. Cras quis laoreet turpis.&nbsp;<br><br></p>
            <p>Suspendisse eu viverra ligula. Fusce ut nunc pulvinar, elementum arcu eget, tempor neque.&nbsp;<br><br></p>
        </div>
    </div>
</div>