<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h2>Contact&nbsp;</h2>
            <p>Feel free to leave me a comment on the github project, or contact me directly through gmail.</p>
            <ul class="list-inline banner-social-buttons">
                <a href="mailto:rrj1@alumnes.udl.cat?Subject=RDF%20Transformer%20Contact">
                    <li class="list-inline-item">&nbsp;<button class="btn btn-primary btn-lg btn-default" type="button"><i class="fa fa-envelope fa-fw"></i><span class="network-name">&nbsp;Mail</span></button></li>
                </a>
                <li class="list-inline-item">&nbsp;</li>
                <a href="https://github.com/raultds" target=_blank>
                    <li class="list-inline-item">&nbsp;<button class="btn btn-primary btn-lg btn-default" type="button"><i class="fa fa-github fa-fw"></i><span class="network-name">&nbsp;github</span></button></li>
                </a>
            </ul>
        </div>
    </div>
</div>