<section id="my-transformations">

    <div class="centered-list">
    <br>
    <br>
    <br>
    <br>
        <h3>Your transformations</h3>
        <p>Here you have the history of all your transformations and ready to be downloaded with just one click!</p>
        <ul>
            <li *ngFor="let file of fileList.csvFiles; let i = index">
                {{fileList.csvFiles[i]}}  / {{fileList.rdfFiles[i]}}
                <br>
                <input id ="submit" name="submit" type="submit" value="download" (click)="downloadFile(i)">
                <input id ="edit" name = "edit" type="submit" value="edit" (click)="editFile(i)">
            </li>
            
        </ul>
    </div>

</section>
