<section id="my-transformations">

    <div class="centered-list">
    <br>
    <br>
    <br>
    <br>
        <h3>Your transformations</h3>
        <p>Here you have the history of all your transformations and ready to be downloaded with just one click!</p>
        <ol>
            <li *ngFor="let file of fileList.csvFiles; let i = index">
                {{fileList.csvFiles[i]}}
                <br>
                <button class="btn btn-light"id ="submit" name="submit" type="submit" (click)="downloadFile(i)">DOWNLOAD RDF</button>
                <button class="btn btn-light" id ="edit" name = "edit" type="submit" (click)="editFile(i)">EDIT</button>
            </li>
            
        </ol>
    </div>

</section>
