@font-face {font-family: 'Open Sans'; src: url('assets/fonts/opensans/OpenSans-Regular.ttf') format('woff2');} @font-face {font-family: 'Open Sans Extrabold'; src: url('assets/fonts/opensans/OpenSans-ExtraBold.ttf') format('woff2');}
html, body { height: 100%; }
body { margin: 0; font-family: 'Open Sans'; }
